* {
  margin: 0;
  padding: 0;
}
.container {
  padding: 30px;
}
.homepagebutton {
  background-color: blue;
}
.appbg {
  display: flex;
  font-family: Arial, sans-serif;
}
.home_dp {
  border-style: groove;
  border-radius: 100%;
  background-color: rgb(0, 0, 0);
  text-align: center;

  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 500px;
  width: 500px;
}
